
//Colors

$Gray-950: hsl(0, 0%, 17%);
$Gray-400: hsl(0, 0%, 58%);
$white:hsl(0, 0%, 100%);
$fade-gray:hsla(0, 0%, 17%, 0.114);

//font family and weight
$f-family:"Rubik", sans-serif;
$f-lite:400;
$f-meduim:500;
$f-large:700;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: $f-family;
    font-size: 1.125rem;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //background-color: $white;

  font-size: 18px;
}

main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
    width: 100%;
    height: 20rem;

    background-image: url(images/pattern-bg-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.location-icon{
    z-index: 10;
   position: absolute;
   bottom: 25%;
   left: 50%;
   transform: translateX(-50%);
}

h2{
    padding-block-start: 2rem;
    color: $white;
}


    .search{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 500px;
   
        margin: 1.5rem auto;

    background-color: $white;
    border-radius:1rem ;
    overflow: hidden;

}


input{
    flex: 1;
    height: 3.2rem;
    padding: 0.5rem 1.25rem;
    outline: none;
    border: none;

    padding-inline-start: 1.25rem;
    color: $Gray-400;
    border-radius:0 ;
}

 .search-input:not(:placeholder-shown) {
    color: $Gray-950;
    font-size: 1.125rem;
    font-weight:$f-meduim;
}

 button{
   
  height: 3.2rem;
  width: 3rem;
  border-radius: 0 1rem 1rem 0;

  flex: 0 0 3rem; 
  /* flex-grow: 0;
     flex-shrink: 0;
     flex-basis: 3rem; */

  border: none;
  cursor: pointer;
  background-color: $Gray-950;


}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    z-index: 999;

    background:$white ;
    width: 90%;
    border: 2px solid black;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin: 0 auto;
}

    p{ 
            display: flex;
            flex-direction: column;
           
            gap: 0.5rem;
            color: $Gray-400;
            text-transform: uppercase;
            font-size: small;}

            span{
            font-weight: $f-large;
            color: $Gray-950;
            text-transform: capitalize;
            font-size: 1.125rem;

            }

.map{
    width: 100%;
    height: 100vh;
    z-index: 0;
    
}


@media(min-width:48rem){

main{
    .card{

  background-image: url(/images/pattern-bg-desktop.png);

 height: 13rem;

}

}

.info{
    display: flex;
    flex-direction: row;
    text-align: start;

    border-radius: 10px;
 .border{
   border-left: 2px solid $fade-gray ;
   padding: 0 1.25rem;
 }
}
}


@media(min-width:64rem){

main{
    .card{

  background-image: url(/images/pattern-bg-desktop.png);

 height: 15rem;

}

}

.info{
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 80%;
    padding:2rem ;
    

    border-radius: 10px;
 .border{
   border-left: 2px solid $fade-gray ;
   padding: 0 1.25rem;
 }
}
}


@media(min-width:80rem){

main{
    .card{

  background-image: url(/images/pattern-bg-desktop.png);

 height: 15rem;

}

}

.info{
    display: flex;
    flex-direction: row;
    text-align: start;
    padding:2rem ;

    border-radius: 10px;
 .border{
   border-left: 2px solid $fade-gray ;
   padding: 0 1.25rem;
 }
}
}